@page
@model Webpage.Pages.Admin.Administer_Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Posts</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.ModifiedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.StartingOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.StartingOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.EndingOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.EndingOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.LocationIdxNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.LocationIdxNavigation.AreaCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.ParentIdxNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.ParentIdxNavigation.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Posts.UserIdxNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Posts.UserIdxNavigation.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Posts.Idx">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
