@page
@model Webpage.Pages.Admin.Administer_Posts.IndexModel

@{
    ViewData["Title"] = "Posts Created";
}

<head>
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>

<div class="create-new-msg-btn-container">
    <a class="create-new-msg-btn" asp-page="Create">
        Create New Post
    </a>
</div>

<h1>Posts Created</h1>
<br />

<div class="view-posts-container">
    @foreach (var item in Model.Posts)
    {
    <div class="post-container">
        <div class="admin-functionalities">
            <a asp-page="./Edit" asp-route-id="@item.Idx">
                <i class="fa-solid fa-pencil" title="Edit message"></i>
            </a>
            <a asp-page="./Details" asp-route-id="@item.Idx">
                <i class="fa-solid fa-circle-info" title="View message"></i>
            </a>
            <a asp-page="./Delete" asp-route-id="@item.Idx">
                <i class="fa-solid fa-trash" title="Delete message"></i>
            </a>
        </div>

        <h3 class="bold-text">@Html.DisplayFor(modelItem => item.Subject)</h3>

        <p>@Html.DisplayFor(modelItem => item.Content)</p>

        @if (item.StartingOn != null)
        {
            <p>
                <span class="bold-text">Start Date: </span>
                @Html.DisplayFor(modelItem => item.StartingOn)
            </p>
        }

        @if (item.EndingOn != null)
        {
            <p>
                <span class="bold-text">End Date: </span>
                @Html.DisplayFor(modelItem => item.EndingOn)
            </p>
        }

        <p>
            <span class="bold-text">Poster Email: </span>
            @Html.DisplayFor(modelItem => item.UserIdxNavigation.Email)
        </p>

        <p>
            <span class="bold-text">Area Code: </span>
            @Html.DisplayFor(modelItem => item.LocationIdxNavigation.AreaCode)
        </p>

        <p>
            <span class="bold-text">Created On: </span>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </p>

        @if (item.ModifiedOn != null)
        {
            <p>
                <span class="bold-text">Edited On: </span>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </p>
        }
    </div>
    }
</div>
<br />