@page
@model Webpage.Pages.Profile.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

@functions {
    public void ShowTree(List<POCO.Category> categories)
    {
        @foreach (var category in categories)
        {
            <div class="category-item">
                <input class="category-checkbox" type="checkbox" id="@category.Idx" name="@category.Name" />
                <label class="category-label" for="@category.Idx">@category.Name</label>
            </div>
        }
    }
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>

<button type="submit" name="showBox" value="Change" class="edit-btn" title="Edit profile information">
    <i class="fa-solid fa-pencil"></i>
</button>

@foreach (var item in Model.Users)
{
    <h1>Welcome, @Html.DisplayFor(modelItem => item.FullName)!</h1>

    <p><span class="bold-text">Age:</span> @Html.DisplayFor(modelItem => item.Age)</p>
    <p><span class="bold-text">Mobile Number:</span>   @Html.DisplayFor(modelItem => item.Mobile)</p>
    <p><span class="bold-text">Email:</span>   @Html.DisplayFor(modelItem => item.Email)</p>
}

<h2>My Categories</h2>

 <form id="updateCategories" method="post" enctype="multipart/form-data">
    <div class="category-items">
        @foreach (var category in Model.MyCategories)
        {
            @if (category.Children.Any())
            {
                ShowTree(category.Children);
            }
        }
    </div>
    
    <button type="submit" asp-page-handler="UpdateCategories" class="animated-btn">
        <span>Update categories</span>
    </button>
</form>

@foreach (var item in Model.Users)
{
    <h4>@Html.DisplayFor(modelItem => item.FullName)'s Posts</h4>
}

@foreach (var item in Model.Users)
{
    <h4>@Html.DisplayFor(modelItem => item.FullName)'s Messages</h4>
}

<table class="table">
    <tbody>
        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderIdx)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverIdx)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentIdx)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Idx">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Idx">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Idx">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

