@page
@model Webpage.Pages.Admin.Administer_Users.DetailsModel

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Full Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.Age)
        </dd>
        <dt class="col-sm-2">
            Area Code 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.LocationIdxNavigation.AreaCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.Email)
        </dd>
        <dt class="col-sm-2">
            Admin Permissions
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.IsAdmin)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Users.Idx">Edit</a> |
    <a asp-page="./Index">Back to Users Created</a>
</div>