@page
@model Webpage.Pages.Admin.Administer_Users.IndexModel

@{
    ViewData["Title"] = "Users Created";
}

<head>
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>

<div class="create-new-msg-btn-container">
    <a class="create-new-msg-btn" asp-page="Create">
        Create New User
    </a>
</div>

<h1>Users Created</h1>
<br />

<div class="users-created-container">
    @foreach (var item in Model.Users)
    {
        <div class="user-created-container">
            <div class="admin-functionalities">
                <a asp-page="./Edit" asp-route-id="@item.Idx">
                    <i class="fa-solid fa-pencil" title="Edit user"></i>
                </a>
                <a asp-page="./Details" asp-route-id="@item.Idx">
                    <i class="fa-solid fa-circle-info" title="View user"></i>
                </a>
                <a asp-page="./Delete" asp-route-id="@item.Idx">
                    <i class="fa-solid fa-trash" title="Delete user"></i>
                </a>
            </div>

            <h3 class="bold-text">
                @item.FullName

                @if (@item.IsAdmin == 1)
                {
                    <i class="fa-solid fa-shield-halved admin-badge" title="Admin Permissions"></i>
                }
            </h3>

            <p>
                <span class="bold-text">Age:</span>
                @item.Age
            </p>

            <p>
                <span class="bold-text">Email:</span>
                @item.Email
            </p>

            <p>
                <span class="bold-text">Mobile:</span>
                @item.Mobile
            </p>

            <p>
                <span class="bold-text">Area Code:</span>
                @item.LocationIdxNavigation.AreaCode
            </p>
        </div>
    }
</div>
<br />