@page
@model Webpage.Pages.PostModel
@{
    ViewData["Title"] = "Create a Post";
}

@functions {
    public void ShowTreeScrollable(List<POCO.Category> categories)
    {
        <div class="scrollable">
            @foreach (var category in categories)
            {
                    <div class="category-item">
                        <label class="category-label" for="@category.Idx">@category.Name</label>
                        <input class="category-checkbox" type="checkbox" id="@category.Idx" name="@category.Name" />
                    </div>
            }
        </div>
    }

    public void ShowTree(List<POCO.Category> categories)
    {
        @foreach (var category in categories)
        {
            <div class="category-item">
                <label class="category-label" for="@category.Idx">@category.Name</label>
                <input class="category-checkbox" type="checkbox" id="@category.Idx" name="@category.Name" />
            </div>
        }
    }
}

<head>
    <link rel="stylesheet" href="~/css/post.css" />
</head>

<div class="post-container">
    <form id="NewPostForm" method="post" asp-action="SubmitPost" asp-controller="Post" enctype="multipart/form-data">
        <h2>@ViewData["Title"]</h2>

        <h5 class="field-labels">Title</h5>
        <input class="fields" asp-for="Post.Title" placeholder="Enter title here..." />

        <h5 class="field-labels">Description</h5>
        <textarea class="fields-textarea" asp-for="Post.Content" placeholder="Enter description here..."></textarea>

        <h5 class="field-labels">Categories</h5>
        @foreach (var category in Model.AvailableCategories)
        {
            @if (category.Children.Any())
            {
                <span class="category-heading">@category.Name</span>

                if (category.Children.Count >= 3)
                {
                    ShowTreeScrollable(category.Children);
                } else {
                    ShowTree(category.Children);
                }
            }
        }

        <h5 class="field-labels">Event Start Date</h5>
        <input class="fields" type="date" asp-for="Post.StartsOn" />

        <h5 class="field-labels">Event End Date</h5>
        <input class="fields" type="date" asp-for="Post.EndsOn" />

        <h5 class="field-labels">Area Code of Event</h5>
        <input class="fields" type="number" asp-for="Post.PostCode" data-val="true"
               data-val-required="The area code of the event is required." placeholder="0000" />
        <br />

        <h5 class="field-labels">Attachment</h5>
        <input type="file" asp-for="Post.AttachedFile" />

        <div>
            <button class="publish-btn" type="submit">
                <span>Publish post</span>
            </button>
        </div>
    </form>
</div>