@page
@using Webpage.Shared
@model Webpage.Pages.PostModel
@{
    ViewData["Title"] = "Create a Post";
}

@functions {
    public void ShowTree(List<POCO.Category> categories)
    {
            @foreach (var category in categories)
            {
                <input class="category-checkbox" type="checkbox" id="@category.Idx" name="@category.Name" />
                <label class="category-label" for="@category.Idx">@category.Name</label>
            }
    }
}

<head>
    <link rel="stylesheet" href="~/css/post.css" />
</head>

<div class="post-container">
    <form id="NewPostForm" method="post" enctype="multipart/form-data">
        <h2>@ViewData["Title"]</h2>

        <h5 class="field-labels">Title</h5>
        <input class="fields" asp-for="Post.Title" placeholder="Enter title here..." />

        <h5 class="field-labels">Description</h5>
        <textarea class="fields-textarea" asp-for="Post.Content" placeholder="Enter description here..."></textarea>

        <h5 class="field-labels">Categories</h5>
        <div class="category-items">
            @foreach (var category in Helper.Cached_Categories)
            {
                @if (category.Children.Any())
                {
                    ShowTree(category.Children);
                }
            }
        </div>

        <h5 class="field-labels">Event Start Date</h5>
        <input class="fields" type="date" asp-for="Post.StartsOn" />

        <h5 class="field-labels">Event End Date</h5>
        <input class="fields" type="date" asp-for="Post.EndsOn" />

        <h5 class="field-labels">Area Code of Event</h5>
        <input class="fields" type="number" asp-for="Post.PostCode" data-val="true"
                data-val-required="The area code of the event is required." placeholder="0000" />
        <br />

        <h5 class="field-labels">Attachment</h5>
        <input type="file" asp-for="Post.AttachedFile" />

        <div>
            <button type="submit" class="animated-btn">
                <span>Publish post</span>
            </button>
        </div>
    </form>
</div>