@page
@model Webpage.Pages.PostModel
@{
    ViewData["Title"] = "Post";
}

@functions {
    public void ShowTree(List<POCO.Category> categories)
    {
        <ul>
        @foreach (var category in categories)
        {
            <li>
                @category.Name
                @if (category.Children.Any())
                {
                    ShowTree(category.Children);
                }
                else
                {
                    <input type="checkbox" id="@category.Idx" name="@category.Name" />
                    <br />
                }
            </li>
        }
        </ul>
    }
}

<h1>@ViewData["Title"]</h1>

<div>
    <form id="NewPostForm" method="post" asp-action="SubmitPost" asp-controller="Post" enctype="multipart/form-data">
        Title: <br />
        <input asp-for="Post.Title" /><br />
        Content: <br />
        <textarea asp-for="Post.Content" style="width:250px;height:150px;"></textarea><br />
        Categories:<br />
                 <ul name="category" id="category" multiple>
                     @foreach (var category in Model.AvailableCategories)
                     {
                     <li>
                         @category.Name
                         @if (category.Children.Any())
                         {
                             ShowTree(category.Children);
                         }
                         else
                         {
                             <input type="checkbox" id="@category.Idx" name="@category.Name" />
                             <br />
                         }
                     </li>
                 }
                 </ul>
        <br />
        Event Starts On: <input type="date" asp-for="Post.StartsOn" /><br />
        Evant Ends On: <input type="date" asp-for="Post.EndsOn" /><br />
        Area Code of the event: <input type="number" asp-for="Post.PostCode" data-val="true"
             data-val-required="The area code of the event is required."/><br />
        Attachment: <input type="file" asp-for="Post.AttachedFile"/>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>