@page
@model Webpage.Pages.MessagePages.ViewMessagesModel

@{
    ViewData["Title"] = "Messages";
}

<head>
    <link rel="stylesheet" href="~/css/messages.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>

<h1>Messages</h1>

<p>
    <a class="button" asp-page="/MessagePages/AddMessages">New Message</a>
</p>

<div class="messages-container">
    @foreach (var item in Model.Messages)
    {
        <h3>@Html.DisplayFor(modelItem => item.Subject)</h3>
        <p>@Html.DisplayFor(modelItem => item.Content)</p>
        
        <span>Sent on @Html.DisplayFor(modelItem => item.CreatedOn)</span>
        <span>
            <a class="fa-solid fa-pencil" asp-page="./Edit" asp-route-id="@item.Idx"></a>
            <a class="fa-solid fa-trash" asp-page="./Delete" asp-route-id="@item.Idx"></a>
        </span>
    }
</div>